In [1]:
import pandas as pd
import numpy as np

In [42]:
dataset = pd.read_csv('Performance-Stats.csv')
data = pd.read_csv('Performance-Stats.csv')

columns = dataset.columns

new_column_names = []
i = 0
# Iterate through old column names
for column_name in columns:
    # Check if "GPA" is in the column name
    if "Your 2023 academic year average/GPA in % (Ignore if you are 2024 1st year student)" in column_name:
        # Rename "GPA" to "Y"
        new_column_names.append("Y")
    else:
        # Prefix everything else with "X1+"
        new_column_names.append("X" + str(i))
        i = i + 1
        
rename_dict = dict(zip(columns, new_column_names))
# Print new column names

dataset = dataset.rename(columns=rename_dict)
data = data.rename(columns=rename_dict)

dataset

,X0,X1,X2,X3,X4,Y,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15
0,2024/03/07 5:12:01 pm EET,Female,76.0,2nd Year,Arts & Social Sciences,72.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,2024/03/07 5:12:08 pm EET,Male,89.0,2nd Year,Economic & Management Sciences,75.0,Private accommodation/ stay with family/friends,R 7001 - R 8000,"Yes (NSFAS, etc...)",8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,2024/03/07 5:12:25 pm EET,Male,76.0,1st Year,AgriSciences,55.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,2024/03/07 5:12:28 pm EET,Male,89.0,2nd Year,Engineering,84.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,2024/03/07 5:13:00 pm EET,Female,74.0,2nd Year,Arts & Social Sciences,52.0,Private accommodation/ stay with family/friends,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
401,2024/03/12 11:05:33 am EET,Female,74.0,NaN,Science,NaN,Private accommodation/ stay with family/friends,NaN,No,3-5,3,1-3,0,0,No,Yes,Close
402,2024/03/12 3:26:14 pm EET,Female,73.0,2nd Year,Economic & Management Sciences,58.0,Private accommodation/ stay with family/friends,R 6001 - R 7000,"Yes (NSFAS, etc...)",5-8,1,8+,0,0,Yes,Yes,Very close
403,2024/03/13 10:32:19 pm EET,Female,86.0,1st Year,NaN,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,5-8,2,3-5,1,0,No,Yes,Very close
404,2024/03/13 10:32:27 pm EET,Male,85.0,NaN,Economic & Management Sciences,NaN,Private accommodation/ stay with family/friends,R 4001- R 5000,No,1-3,4+,5-8,4+,0,No,Yes,Close
405,2024/03/16 10:30:36 pm EET,Female,80.0,1st Year,NaN,63.0,Private accommodation/ stay with family/friends,R 5001 - R 6000,No,3-5,Only weekends,3-5,1,0,No,No,Close

In [43]:
from sklearn.model_selection import train_test_split

X = dataset
Y = dataset['Y']
print(Y)

# test size basically says how much we're setting aside for testing. everything else is self explanatory
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33)

0      72.0
1      75.0
2      55.0
3      84.0
4      52.0
       ...
401     NaN
402    58.0
403     NaN
404     NaN
405    63.0
Name: Y, Length: 406, dtype: float64